<div class="home">
    <div class="profile-picture">
    </div>
    <div class="intro">
      <p>Welcome to my professional portfolio, a snapshot of my journey into the world of software engineering. As a motivated and adaptable individual, I am eager to embark on my first software engineering role and bring fresh ideas to your team.

        My academic background, coupled with hands-on projects, has equipped me with a solid foundation in software development principles. I'm proficient in languages such as Java and SQL, and I'm well-versed in fundamental concepts like data structures and algorithms.
        
        What sets me apart is my commitment to learning. I'm excited about the potential to dive into new technologies and frameworks, expanding my skill set while contributing to meaningful projects. I'm a firm believer in the value of continuous growth, and I look forward to the opportunity to grow alongside your team.
        
        Collaboration is central to my approach. I thrive in team environments, leveraging open communication and active listening to ensure that I'm aligned with project goals and team dynamics. I'm enthusiastic about the prospect of working alongside experienced professionals who can guide me in refining my craft.
        
        Attention to detail is a hallmark of my work. From writing clean and maintainable code to debugging and problem-solving, I'm meticulous in my approach to producing high-quality solutions. I understand the importance of not just making software work, but making it work exceptionally well.
        
        Thank you for considering my application for your team. I'm excited about the chance to contribute my fresh perspective, dedication, and determination to create impactful software. I invite you to explore my portfolio and learn more about the skills I'm eager to bring to my first software engineering role</p>
    </div>

  </div>

 <div class="gallery-container">
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="https://github.com/FaithQAQA/ToDoListApplication">
        <img src="https://images.pexels.com/photos/6502328/pexels-photo-6502328.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="To-Do-List">
      </a>
      <div class="desc">Java-based To-do-List</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_5terre.jpg">
        <img src="https://i.pinimg.com/736x/23/55/cd/2355cd02b42ca6ea2dedf59c5af36e67.jpg" alt="Book Review">
      </a>
      <div class="desc">Spring boot-based Book Review Platform</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_5terre.jpg">
        <img src="https://thumbs.dreamstime.com/b/script-procedure-creating-desktop-pc-monitor-photo-www-software-development-script-procedure-creating-desktop-pc-monitor-photo-www-131991048.jpg" alt="Movie Showing times">
      </a>
      <div class="desc">Angular-based Movie Showing times</div>
    </div>
  </div>
</div>

  