<link rel="stylesheet" href="../about/about.component.css">
<section class="about">
    <h2>About Me</h2>
    <p>Hello, I'm Jalani Maynard, a student pursuing a degree in Information Systems Engineering. My academic journey has equipped me with a strong foundation in data management, software development, and problem-solving.</p>
    <p>While my formal education is centered around Information Systems, my true passion lies in software engineering. I have been self-motivated and dedicated to mastering technologies in this field, including HTML, CSS, and JavaScript. Which I've extensively explored through personal projects.</p>
    <p>Through my projects, I've honed my skills in creating user-friendly web applications, Java apps and SQL querys and problem sloving. These projects have not only enriched my knowledge but have also demonstrated my ability to turn ideas into practical solutions. My goal is to leverage my engineering mindset and frontend skills to contribute to innovative web experiences.</p>
    <p>Beyond my academic and coding pursuits, I have a keen interest in [reading, learning more about my own field and fields the affect mine], which fuel my creativity and problem-solving abilities. I'm excited about the opportunities that lie ahead as I continue to learn and grow as a developer, making a positive impact on the web.</p>
    <a href="/portfolio" class="button">View My Portfolio</a>
  </section>
  


  <div class="education">
    <h3>Education</h3>
    <div class="education-item">
        <h4>Information System Engineering</h4>
        <p><strong>Sheridan College </strong>7899 McLaughlin Rd, Brampton, ON L6Y 5H9</p>
        <p>Graduated: 9/30/2024</p>
        <p>GPA: 3.8</p>
    </div>
</div>

  
<div class="achievements">
  <h3>Achievements</h3>
  <ul>
      <li>
          <strong>Honor Role HighSchool</strong>
          <p>Recognized for outstanding academic performance on the Honor Roll throughout my high school years</p>
          <p>6/20/2021</p>
      </li>
      <li>
          <strong>Honors in Computer science HighSchool</strong>
          <p>Awarded honors for outstanding performance and achievements in computer science courses during high school.</p>
          <p>6/20/2021</p>
      </li>
      <!-- Add more achievements as needed -->
  </ul>
</div>


<div class="skills">
  <h2>My Skills</h2>
  <ul>
      <li>
          <span class="skill-name">HTML5</span>
          <div class="skill-bar">
              <div class="skill-level" style="width: 85%;"></div>
          </div>
      </li>
      <li>
          <span class="skill-name">CSS</span>
          <div class="skill-bar">
              <div class="skill-level" style="width: 85%;"></div>
          </div>
      </li>
      <li>
          <span class="skill-name">JavaScript</span>
          <div class="skill-bar">
              <div class="skill-level" style="width: 80%;"></div>
          </div>
      </li>
      <li>
          <span class="skill-name">SQL</span>
          <div class="skill-bar">
              <div class="skill-level" style="width: 75%;"></div>
          </div>
      </li>
      <li>
          <span class="skill-name">Spring Boot</span>
          <div class="skill-bar">
              <div class="skill-level" style="width: 70%;"></div>
          </div>
      </li>
      <li>
          <span class="skill-name">Angular</span>
          <div class="skill-bar">
              <div class="skill-level" style="width: 55%;"></div>
          </div>
      </li>
      <li>
          <span class="skill-name">Java</span>
          <div class="skill-bar">
              <div class="skill-level" style="width: 90%;"></div>
          </div>
      </li>
      <li>
        <span class="skill-name">Linux</span>
        <div class="skill-bar">
            <div class="skill-level" style="width: 60%;"></div>
        </div>
    </li>
  </ul>
</div>
