<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me</title>
</head>
<body>
    <header>
        Jalani Maynard
    </header>
    <h1>Contact me</h1>
    <h3>Email: Jalani.Maynard@gmail.com</h3>
    <h3>Number: 647-928-7113</h3>
    <h1>Socials</h1>

    <!-- Add social media icons as images -->
    <div class="social-icons">
        <a href="https://github.com/FaithQAQA"><img src="/assets/icons8-github-100.svg" alt="GitHub"></a>
    </div>
    <div class="social-icons">
        <a href="https://github.com/FaithQAQA"><img src="/assets/icons8-linked-in-100.png" alt="Linked in"></a>
    </div>
    <div class="social-icons">
        <a href="jalani.maynard@gmail.com"><img src="/assets/icons8-gmail.svg" alt="Gmail"></a>
    </div>
    <footer>
        <!-- Your footer content here -->
    </footer>
</body>
</html>
